.netlify-deployer {
  .change-count {
    font-style: italic;
  }

  .deployer {
    cursor: pointer;
    appearance: none;
    border: 0;
    border-radius: 4px;
    padding: 8px 18px;
    margin-top: 1em;
    background-color: #00ad9f;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.2s;

    &:not(:disabled):hover {
      background-color: darken(#00ad9f, 4%);
    }

    &:disabled {
      cursor: default;
      background-color: #cccccc;
    }
  }

  .unsaved-build-hook {
    display: block;
    margin-top: 1em;
    color: #cc0000;
  }

  // --------------------------------------------------------------
  // messages
  // --------------------------------------------------------------
  .deploy-message {
    margin-left: 20px;

    &--error {
      color: #cc0000;
    }

    &--success {
      color: #008040;
      font-weight: bold;
    }
  }
}

// --------------------------------------------------------------
// loader
// --------------------------------------------------------------
.netlify-deployer-loader {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  opacity: 0;

  &,
  &:before,
  &:after {
    width: 8px;
    height: 8px;
    background-color: #aaaaaa;
    border-radius: 50%;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
  }

  &:before {
    left: 14px;
  }

  &:after {
    left: 28px;
    animation-delay: 0.8s;
  }

  .netlify-deployer--loading &,
  .netlify-deployer--loading &:before,
  .netlify-deployer--loading &:after {
    animation: 1.2s infinite alternate loading;
  }

  .netlify-deployer--loading &:before {
    animation-delay: 0.4s;
  }

  .netlify-deployer--loading &:after {
    animation-delay: 0.8s;
  }

  .netlify-deployer--loading & {
    transition: opacity 1s;
    opacity: 1;
  }
}

@keyframes loading {
  from {
    background-color: #aaaaaa;
  }

  to {
    background-color: #f1f1f1;
  }
}
