$c--green: #00ad9f;
$c--red: #cc0000;
$c--white: #ffffff;
$c--gray-f1: #f1f1f1;
$c--gray-a: #aaaaaa;
$c--gray-c: #cccccc;

$c-disabled: $c--gray-c;

.netlify-deployer {
  .change-count {
    font-style: italic;
  }

  .deployer {
    cursor: pointer;
    appearance: none;
    border: 0;
    border-radius: 4px;
    padding: 8px 18px;
    margin-top: 1em;
    background-color: $c--green;
    color: $c--white;
    font-weight: bold;
    transition: all 0.2s;

    &:not(:disabled):hover {
      background-color: darken($c--green, 4%);
    }

    &:disabled {
      cursor: default;
      background-color: $c--gray-c;
    }
  }

  .unsaved-build-hook {
    display: block;
    margin-top: 1em;
    color: $c--red;
  }

  // --------------------------------------------------------------
  // messages
  // --------------------------------------------------------------
  .deploy-message {
    margin-left: 20px;

    &--error {
      color: $c--red;
    }

    &--success {
      color: $c--green;
      font-weight: bold;
    }

    &--alert {
      margin-top: 1em;
      padding: 20px;
      border-left: 4px solid $c--gray-c;
      background-color: lighten($c--gray-f1, 2%);
    }
  }
}

// --------------------------------------------------------------
// loader
// --------------------------------------------------------------
.netlify-deployer-loader {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  opacity: 0;

  &,
  &:before,
  &:after {
    width: 8px;
    height: 8px;
    background-color: $c--gray-a;
    border-radius: 50%;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
  }

  &:before {
    left: 14px;
  }

  &:after {
    left: 28px;
    animation-delay: 0.8s;
  }

  .netlify-deployer--loading &,
  .netlify-deployer--loading &:before,
  .netlify-deployer--loading &:after {
    animation: 1.2s infinite alternate loading;
  }

  .netlify-deployer--loading &:before {
    animation-delay: 0.4s;
  }

  .netlify-deployer--loading &:after {
    animation-delay: 0.8s;
  }

  .netlify-deployer--loading & {
    transition: opacity 1s;
    opacity: 1;
  }
}

@keyframes loading {
  from {
    background-color: $c--gray-a;
  }

  to {
    background-color: $c--gray-f1;
  }
}
